<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookSpot</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Importing Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=EB+Garamond:ital,wght@1,700&family=Kodemono&family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="main-header">
            <h1 class="title">BOOK<span class="spot">spot</span></h1>
            <p class="subtitle">by book & music lovers,<br> for book & music lovers</p>
        </header>
        <main>
            <a href="/login">
                <button class="login-button">LOGIN WITH SPOTIFY</button>
            </a>
            <p class="description">get book recommendations based on your listening activity</p>
        </main>
    </div>
</body>
</html>





